<%- include('layout2', { body: `
<div class="container closed">
    <h1>Site Non Disponible</h1>
    <p>Notre site web est uniquement accessible pendant les heures de travail </p>
    <p>Du Lundi au Vendredi, de 9h00 à 17h00</p>
    <p>Merci de revenir pendant nos heures d'ouverture.</p>
    <P class="closed2">404.</P>
</div>
` }) %>