<%- include('layout', { body: `
<divclass="container">
    <h1>Nous Contacter</h1>
    <div class="contact-info">
        <div class="contact-details">
            <h3>Coordonnées</h3>
            <p>Email: yvansachiel@gmail.com</p>
            <p>Téléphone: +225 05 02 18 97 82</p>
            <p>Adresse: 123 Rue de la paix,riviera 4 </p>
        </div>
        <div class="hours">
            <h3>Heures d'ouverture</h3>
            <p>Lundi - Vendredi: 13h00 - 17h00</p>
            <p>Samedi - Dimanche: Fermé</p>
        </div>
    </div>
</div>
` }) %>