<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notre Site Web</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <nav>
        <div class="nav-container">
            <h1 class="type">S-DOB</h1>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/services">Nos Services</a></li>
                <li><a href="/contact">Nous Contacter</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <%- body %>
    </main>
    <footer>
        <p>&copy; 2024 Mon Site. Tous droits réservés.</p>
    </footer>

</body>
</html>